---
http_interactions:
- request:
    method: get
    uri: http://services.sunlightlabs.com/api/legislators.allForZip.json?apikey=6a084c8b1f614684bb39086b51ff5599&zip=80227
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"response": {"legislators": [{"legislator": {"website": "http://www.bennet.senate.gov",
        "fax": "202-228-5036", "govtrack_id": "412330", "firstname": "Michael", "chamber":
        "senate", "middlename": "F.", "lastname": "Bennet", "congress_office": "458
        Russell Senate Office Building", "eventful_id": "", "phone": "202-224-5852",
        "webform": "http://www.bennet.senate.gov/contact/", "youtube_url": "http://youtube.com/SenatorBennet",
        "nickname": "", "gender": "M", "district": "Junior Seat", "title": "Sen",
        "congresspedia_url": "http://www.opencongress.org/wiki/Michael_Bennet", "in_office":
        true, "senate_class": "III", "name_suffix": "", "twitter_id": "SenBennetCo",
        "birthdate": "1964-11-28", "bioguide_id": "B001267", "fec_id": "S0CO00211",
        "state": "CO", "crp_id": "N00030608", "official_rss": "", "facebook_id": "97172997732",
        "party": "D", "email": "", "votesmart_id": "110942"}}, {"legislator": {"website":
        "http://www.house.gov/degette", "fax": "202-225-5657", "govtrack_id": "400101",
        "firstname": "Diana", "chamber": "house", "middlename": "L.", "lastname":
        "DeGette", "congress_office": "2368 Rayburn House Office Building", "eventful_id":
        "", "phone": "202-225-4431", "webform": "http://www.house.gov/formdegette/zip_auth.htm",
        "youtube_url": "http://youtube.com/RepDianaDeGette", "nickname": "", "gender":
        "F", "d[...]
